<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{note?.author}}</mat-card-title>
    <mat-card-subtitle>{{note?.creationTime | date : 'dd/MM/yyyy HH:mm'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="line-clamp">
      <p class="truncate-overflow">{{note?.content}}</p>
    </div>
  </mat-card-content>
</mat-card>
