<div>

  <p>
    <mat-toolbar color="primary">
      <span>{{isNew ? 'Post a new note' : ('A note from ' + note?.author)}}</span>
    </mat-toolbar>
  </p>

  <form #f="ngForm" (ngSubmit)="submit(f)">
    <mat-form-field appearance="outline" [class.hide]="!isNew">
      <mat-label>Author Name</mat-label>
      <input matInput name="author" id="author" ngModel required #author="ngModel">
      <mat-error *ngIf="author.errors?.required && author.touched">Author name is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" [class.hide]="!isNew && !editMode">
      <mat-label>What Would You Like To Say?</mat-label>
      <textarea rows="5" matInput name="content" id="content" ngModel required #content="ngModel"></textarea>
      <mat-error *ngIf="content.errors?.required && content.touched">Content is required</mat-error>
    </mat-form-field>
    <div [class.hide]="editMode || isNew" class="content-view">{{note?.content}}</div>
    <div>
      <button mat-button mat-dialog-close>{{isNew ? 'Cancel' : 'Close'}}</button>
      <button mat-button color="primary" type="button" *ngIf="!isNew && !editMode" (click)="editMode = true">Edit</button>
      <button mat-button color="primary" type="submit" [disabled]="!f.valid" *ngIf="isNew || editMode">{{editMode ? 'Done' : 'Post'}}</button>
      <button mat-button color="warn" type="button" *ngIf="!isNew" (click)="delete()">Delete</button>
    </div>
  </form>

</div>
