form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}

.hide {
  display: none;
}

.content-view {
  min-height: 200px;
}
