#new-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  h1 {
    margin: 0;
    text-align: center;
  }
}

#main {
  display: grid;
  grid-gap: 1em;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @media only screen and (max-width: 780px) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: 400px) {
    grid-template-columns: 1fr;
  }
}


