<header>
  <h1>Welcome To Post Board</h1>
</header>

<main id="main">

  <mat-card id="new-button" (click)="openModal()" class="card">
    <mat-icon color="primary">add_circle</mat-icon>
    <p>Add new note</p>
  </mat-card>

  <app-note *ngFor="let note of notes | sort"
            [note]="note"
            (click)="openModal(note)"
  ></app-note>

</main>
