/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success-msg {
  color: green;
  font-weight: bold;
}

.delete-msg {
  color: red;
  font-weight: bold;
}

.card {
  height: calc((100vh - 32px - 4em) / 3);
  min-height: 155px;
  box-sizing: border-box;
  cursor: pointer;
}

html {
  --lh: 1.6rem;
  line-height: var(--lh);
}

.line-clamp p {
  margin: 0;
}

.line-clamp {
  word-break: break-word;
  margin: 0 0 1em 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
